@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll-logos {
  display: inline-flex;
  animation: scrollLeftToRight 30s linear infinite;
}
